.app_dark_theme {
  --bg-color: #1F1F1F;
  --inverted-bg-color: #2D2F31;
  
  --primary-color: #F4F5FA;
  --secondary-color: #7B7E86;

  --inverted-primary-color: #e3e3e3;
  --inverted-secondary-color: #7B7E86;
}