.app.dark {
  --bg-color: #28282A;
  --inverted-bg-color: #D7D7D5;
  
  --primary-color: #F4F5FA;
  --secondary-color: #7B7E86;

  --inverted-primary-color: #28282A;
  --inverted-secondary-color: #7B7E86;
}