.app_dark_theme {
  --bg-color: #1F1F1F;
  --inverted-bg-color: #2D2F31;
  
  --primary-color: #F4F5FA;
  --secondary-color: #7B7E86;

  --inverted-primary-color: #e3e3e3;
  --inverted-secondary-color: #a1a3ab;

  // skeleton
  --skeleton-color: #6c6c6c;
  --skeleton-shadow: #636363;

  // code
  --code-bg: #535353;

  // card
  --card-bg: #4e4e4e;

  // listbox
  --listbox-bg: #4e4e4e;
}