.app.light {
  --bg-color: #F4F5FA;
  --inverted-bg-color: #0B0A05;
  
  --primary-color: #28282A;
  --secondary-color: #7B7E86;
  
  --inverted-primary-color: #58d42b;
  --inverted-secondary-color: #f8a50a;
}