.app_light_theme {
  --bg-color: #FFF;
  --inverted-bg-color: #F3F6FC;

  --primary-color: #444746;
  --secondary-color: #37383c;

  --inverted-primary-color: #1f1f1f;
  --inverted-secondary-color: #524949;
}
