.app.light {
  --bg-color: #f4f5fa;
  --inverted-bg-color: #979797;

  --primary-color: #28282a;
  --secondary-color: #7b7e86;

  --inverted-primary-color: #58d42b;
  --inverted-secondary-color: #524949;
}
